.contact_section {
    margin-left: 5%;
    margin-right: 5%;
}


.profile_image_section {
    display: inline-block;
    width: 45%;
}


.profile_image_container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
}


.profile_image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
}


.about_me_container {
    display: inline-block;
    width: 45%;
    margin-left: 4%;
    margin-right: 4%;
    vertical-align: top;
}


.about_me_header {
    font-family: RobotoCondensed-Bold, Arial, Helvetica, sans-serif;
    font-size: 4vw;
    width: 200px;
    margin-bottom: 10%;
}


.about_me_description {
    font-family: RobotoCondensed-Regular, Arial, Helvetica, sans-serif;
    font-size: 2vw;
    line-height: 1.75;
    margin-bottom: 12.5%;
}


.about_me_description img {
    height: 3.5vw;
    vertical-align: sub;
}


.contact_container {
    padding-top: 23px;
    padding-bottom: 23px;
}


.contact_button {
    font-family: RobotoCondensed-Bold, Arial, Helvetica, sans-serif;
    font-size: 2vw;
    letter-spacing: 2px;
    padding: 23px 58px;
    background-color: black;
    color: white;
    text-decoration: none;
    user-select: none;
    text-align: center;
}


.contact_button:hover {
    opacity: 0.8;
}


@media screen and (max-width: 768px) {
    .profile_image_section { 
        width: 100%;
    }


    .about_me_container {
        width: 90%;
        display: block;
        margin: auto;
    }


    .about_me_header { 
        text-align: center;
        font-size: 34px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 24px;
    }


    .about_me_description { 
        text-align: center;
        font-size: 18px;
        margin-bottom: 15%;
    }


    .about_me_description img {
        height: 33px;
    }


    .contact_container {
        text-align: center;
    }


    .contact_button {
        font-size: 18px;
    }
}


@media screen and (max-width: 540px) {
    .contact_section {
        margin-left: 0;
        margin-right: 0;
    }


    .about_me_header {
        font-size: 33px;
        margin-bottom: 15px;
    }


    .about_me_description { 
        font-size: 17px;
        margin-bottom: 6%;
    }


    .about_me_description img {
        height: 30px;
    }

    
    .contact_button {
        font-size: 16px;
    }
}
