.experience_section {
    margin-left: 10%;
    margin-right: 10%;
}


.cv_container {
    display: inline-block;
    width: 75%;
    max-width: 900px;
}


.cv_item {
    margin-bottom: 10%;
    width: 90%;
}


.cv_heading {
    display: inline-block;
    width: 55%;
}


.cv_position {
    font-family: RobotoCondensed-Bold, Arial, Helvetica, sans-serif;
    font-size: 19px;
}


.cv_position span {
    font-family: RobotoCondensed-Regular, Arial, Helvetica, sans-serif;
}


.cv_company {
    font-family: RobotoCondensed-Light, Arial, Helvetica, sans-serif;
    font-size: 19px;
}


.cv_heading_details {
    display: inline-block;
    width: 44%;
    text-align: right;
    vertical-align: top;
}


.cv_date {
    font-family: RobotoCondensed-Light, Arial, Helvetica, sans-serif;
    font-size: 18px;
}


.cv_location {
    font-family: RobotoCondensed-Light, Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--green-color);
}


.cv_description {
    margin-top: 4%;
}


.cv_description_text {
    font-family: RobotoCondensed-Light, Arial, Helvetica, sans-serif;
    font-size: 17px;
}


.education_container {
    display: inline-block;
    width: 24%;
    vertical-align: top;
    margin-top: 40%;
}


.graduation_icon {
    max-width: 300px;
    margin: auto;
}


.graduation_icon_svg {
    width: 100%;
}


.education_description {
    text-align: center;
    margin-top: 4%;
}


.education_major {
    font-family: RobotoCondensed-Bold, Arial, Helvetica, sans-serif;
    font-size: 19px;
}


.education_college {
    font-family: RobotoCondensed-Light, Arial, Helvetica, sans-serif;
    font-size: 19px;
}


.education_year {
    font-family: RobotoCondensed-Light, Arial, Helvetica, sans-serif;
    font-size: 17px;
}


.experience_header {
    font-family: RobotoCondensed-Bold, Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin-left: 10%;
}


@media screen and (max-width: 768px) { 
    .cv_container {
        width: 100%;
    }


    .cv_item {
        margin-bottom: 12%;
        width: 100%;
    }


    .cv_heading {
        width: 100%;
        margin-bottom: 4%;
    }


    .cv_heading_details {
        width: 100%;
        text-align: left;
    }


    .education_container {
        width: 100%;
        margin-top: 20%;
    }


    .experience_header { 
        font-size: 34px;
    }
}


@media screen and (max-width: 540px) {
    .experience_section {
        margin-left: 5%;
        margin-right: 5%;
    }


    .experience_header { 
        font-size: 33px;
        margin-left: 5%;
    }
}
