.loader_wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


.loader_first {
    height: 100%;
    width: 100%;
    background-color: var(--green-color);
    position: relative;
}


.loader_second {
    height: 100%;
    width: 100%;
    background-color: black;
}


.spinner_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.spinner {
	width: 2em;
	height: .66em;
	border: .05em black solid;
	border-radius: .1em;
	background: linear-gradient(-60deg, transparent 0%, transparent 50%, currentcolor 50%, currentcolor 75%, transparent 75%, transparent);
	background-size: 1em 2em;
	background-position: 0 0;
	animation: load 0.8s infinite linear;
}


@keyframes load {
	from { background-position: 0 0; }
	to { background-position: -2em 0; }
}
