.next_project_container {
    position: relative;
    height: 25px;
    margin-left: 5%;
    margin-right: 5%;
}


.next_project {
    position: absolute;
    right: 0;
    display: inline-block;
    cursor: pointer;
}


.next_link {
    display: inline-block;
    vertical-align: middle;
    font-family: RobotoCondensed-Light, Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: var(--gray-color);
    margin-right: 5px;
}


.angle_right_icon_svg {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
}


.project_text {
    margin-top: 15%;
    margin-bottom: 15%;
}


.text_container {
    margin-left: 5%;
    margin-right: 5%;
}


.text_content_header {
    font-family: RobotoCondensed-Bold, Arial, Helvetica, sans-serif;
    font-size: 34px;
    margin-bottom: 4%;
}


.text_content_subheader {
    font-family: RobotoCondensed-Light, Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 10%;
    text-transform: uppercase;
}


.text_content_description {
    font-family: RobotoCondensed-Regular, Arial, Helvetica, sans-serif;
    font-size: 18px;
}


.project_image {
    width: 100%;
}


.project_image_item {
    width: 100%;
}


.project_image_description {
    margin-left: 5%;
    margin-right: 5%;
    font-family: RobotoCondensed-Light, Arial, Helvetica, sans-serif;
    font-size: 15px;
}


@media screen and (max-width: 768px) {
    .next_link { 
        font-size: 20px;
    }
    

    .text_content_header {
        font-size: 33px;
    }


    .text_content_subheader {
        font-size: 17px;
    }


    .text_content_description {
        font-size: 17px;
    }
}