.video_section {
    position: relative;
    height: 100%;
    min-height: 540px;
    background-color: white;
    text-align: center;
}


.video_section:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-7.125deg);
    -webkit-transform: skewY(-7.125deg);
    background-color: var(--green-color);
}


.background_video {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 90%;
    height: 90%;
    object-fit: cover;
    z-index: 99;
}


.video_overlay {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 400px;
    font-family: RobotoCondensed-Bold, Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 80px;
    z-index: 100;
}


.video_overlay_title {
    color: white;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .125rem;
    -webkit-text-stroke-color: white;
}


.video_overlay_city {
    color: white;
}


@media screen and (max-width: 540px) { 
    .background_video { 
        width: 100%;
    }


    .video_overlay {
        top: 35%;
        width: 250px;
        font-size: 50px;
    }
}
